.nameDiv{
    color:white;
    margin:auto;
    padding:5px;
}

.mainDiv{
    justify-content: center;
    align-items: center;
    width:300px;
    margin:auto;
    padding: 30px;
}

.nam{
    font-size: 25px;
}

.mainDiv img{
    width:80%;
    height: 80%;
    border:5px solid gainsboro;
    border-radius: 10px;
    opacity:1;
}