.displayFlex{
    display:flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: center;
}

.innerFlex{
    flex-basis:25%;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    justify-content: center;
    padding:20px;

}

/* .innerFlex ~ div{
    border-radius: 10px;
} */

.innerFlex img{
    width:50%;
    height: 50%;
    border:5px solid gainsboro;
    border-radius: 10px;
}

.innerFlex h1{
    text-align: center;
}

button{
    color:blue;
    border: none;
    background-color: transparent;
}

.user{
    font-size: 40px;
    color:rgb(245, 210, 122);
    background-color: darkblue;
    padding:20px;
    margin-top: 0;
}

body{
    background-color: darkgrey;
}