.displayFlex{
    display:flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: center;
}

.innerFlex{
    flex-basis:25%;
    margin:50px;
    padding-left: 8px;
    padding-right: 8px;
}